<% include ./layout/header %>
<div class="container">
  <div class="mt-4">
    <h3>Stream Page</h3>
    <% if (!user) { %>
      <div class="alert alert-primary">You have not added your favourite streamer Yet. Click <a href="/add-streamer">here</a> to add now</div>
    <% } else {  %>
      <div class="row">
        <div class="col">
          <!--<iframe 
          src="https://player.twitch.tv/?channel=<%= user.streamer %>&autoplay=false" 
          frameborder="0" 
          allowfullscreen="true" 
          scrolling="no"
          height="378" 
          width="620"></iframe>-->
          <div class="channel-events">
            <h3>Channel Events</h3>
            <div class="events">
            </div>
          </div>
        </div>
        <div class="col">
          I will show chat for this channel
        </div>
      </div>
    <% } %>
  </div>
</div>
<% include ./layout/scripts %>
<script>
  var emitEvent = function (socket, eventName, data = {}, room = null) {
    if (room) {
      return socket.emit(eventName, data, room);
    } else {
      return socket.emit(eventName, data);
    }
  }

  var onReceiveEvent = function (socket, eventName, callback, room = null) {
    if (room) {
      return socket.on(eventName, callback, room);
    } else {
      return socket.on(eventName, callback);
    }
  }
  $(document).ready(function(){
    // setup sockets
    var socket = io();
    var room = 'channels/<%= user.streamer_id %>';
    emitEvent(socket, 'joinRoom', {
      room: room
    });
    onReceiveEvent(socket, 'userFollowed', function(data){
      $('.channel-events .events').prepend('<div class="event"><a href="https://www.twitch.tv/'+ data.data.from_name +'">' + data.data.from_name + '</a> Followed <a href="https://www.twitch.tv/'+ data.data.to_name +'">' + data.data.to_name + '</a></div>');
      $('.events .event:gt(9)').remove();
    }, room);
  });
</script>
<% include ./layout/footer %>